.box {
    background-image: url(../img/im7hp6b7e4t31.png);
    background-size: cover;
    min-height: 100vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.row {
    margin-right: 4px;
}

.title {
    /* background-color: pink; */
    height: 100px;
    width: 100vw;
    padding-top: 5vh;
    font-size: xx-large;
    color: white;
    text-shadow: 2px 2px 5px black, -2px -2px 5px black;
}

.starters {
    /* background-color: aquamarine; */
    height: 5vh;
    padding-top: 1vh;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
    font-size: x-large;
    margin-bottom: 20px;
}

.dishphoto {
    /* height: 20vh; */
    width: 45vw;
    border: 2px solid black;
}

.dish {
    margin-bottom: 10px;
}

.disha {
    /* height: 20vh; */
    width: 45vw;
    padding: 5px;
    color: black;
    font-size: smaller;
    background-image: url(../img/4c8xmGs.jpg);
    display: flex;
    flex-direction: column;
    border: 2px solid black;
}

.dishatext {
    font-size: xx-small;
    font-weight: normal;
}

@media (min-width:576px) {

    .row {
        width: 100vw;
        padding: 0px;
    }

    .title {
        width: 100vw;
    }

    .starters {
        width: 100vw;
    }

    .dish {
        width: 20vw;
        padding: 0px;
        float: right;
    }

    .dishphoto {
        /* height: 30vh; */
        width: 20vw;
        border: 2px solid black;
        padding: 0px;
        float: right;
    }

    .disha {
        /* height: 30vh; */
        width: 20vh;
        padding: 0px;
    }
    
}

@media (min-width:992px) {

    .row {
        padding: 0px;
    }

    .dishphoto {
        height: 30vh;
        width: 20vw;
        border: 2px solid black;
        float: right;
    }
    
    .disha {
        height: 30vh;
    }
}