body {
    background-color: aqua;
}

.box {
    background-image: url(../img/homepage_tavern_background.jpg);
    height: 100vh;
}

.contacttitle {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: white;
    text-shadow: 3px 3px 10px grey, -3px -3px 10px grey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pictureleft {
    display: none;
    /* height: 80vh; */
}

.contactform {
    /* height: 80vh; */
    background-color: rgba(128, 128, 128, 0.473);
    color: white;
    box-shadow: 5px 5px 10px black;
    border-radius: 10px;
}

.innkimg {
    position: absolute;
    height: 70vh;
    left: 10vw;
    bottom: 15vh;
}

/* Dropdown */

.dp-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
}
    
.dp-btn:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

.menuicon {
    height: 100px;
}

@media (min-width:768px) {
    .pictureleft {
        display: block;
    }

    .innkimg {
        position: absolute;
        height: 50vh;
        left: 0vw;
        bottom: 10vh;
    }
}

@media (min-width:992px) {

    .pictureleft {
        display: block;
    }

    .innkimg {
        position: absolute;
        height: 70vh;
        left: 10vw;
        bottom: 10vh;
    }
}

@media (min-width:1492px) {

    .innkimg {
        position: absolute;
        height: 80vh;
        left: 15vw;
        bottom: 10vh;
    }
}