body {
    /* background-color: red; */
}

.box {
    background-image: url(../img/homebgsmall.jpg);
    background-size: cover;
    min-height: 100vh;
}

/* Parte superior */

.bigbox {
    /* background-color: olive; */
    height: 75%;
}

.biglatbox {
    display: none;
}

/* Lateral izquierdo */

.box1 {
    /* background-color: yellow; */
    height: 75vh;
}

.box1-1 {
    /* background-color: greenyellow; */
    height: 25vh;
    width: 15vw;
    border-radius: 25px;
    position: relative;
}

.box1-2 {
    /* background-color: green; */
    height: 25vh;
}

.box1-3 {
    /* background-color: lightgreen; */
    height: 25vh;
}

.box2 {
    /* background-color: orange; */
    height: 75vh;
}

/* Dropdown */

.dp-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
}

.menuicon {
    height: 100px;
}

.welcomeimg {
    width: 80%;
    height: 50%;
}

.deathwing {
    width: 40%;
}

/* Lateral derecho */

.box3 {
    /* background-color: red; */
    height: 75vh;
}

.box3-1 {
    /* background-color: burlywood; */
    height: 25vh;
}

.box3-2 {
    /* background-color: brown; */
    height: 25vh;
}

.box3-3 {
    /* background-color: peru; */
    height: 25vh;
}

/* Parte inferior */

.box7 {
    /* background-color: pink; */
    height: 25vh;
}

.box8 {
    /* background-color: plum; */
    height: 25vh;
}

.classes {
    height: 25vh;
}

.box9 {
    /* background-color: purple; */
}

.latbox {
    display: none;
}

.photos {
    height: 25vh;
    width: 15vw;
    box-shadow: 20px 20px 40px black, -20px -20px 40px black;
    border: 3px groove black;
}