.box {
    background-image: url(../img/homebgsmall.jpg);
    background-size: cover;
    min-height: 100vh;
}

/* Parte superior */

.bigbox {
    height: 75%;
}

.biglatbox {
    display: none;
}

/* Lateral izquierdo */

.box1 {
    height: 75vh;
}

.box1-1 {
    height: 25vh;
}

.box1-2 {
    height: 25vh;
}

.box1-3 {
    height: 25vh;
}

.box2 {
    height: 75vh;
}

/* Dropdown */

.dp-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
}

.dp-btn:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

/* Boxcentral */

.menuicon {
    height: 100px;
}

.welcomeimg {
    width: 80%;
    height: 50%;
}

.welcometext {
    position: absolute;
    left: 50;
    top: 25%;
    z-index: 1;
    font-size: xx-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 1px 1px 3px black;
}

.welcometext:hover {
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.welcometext1 {
    position: absolute;
    left: 50;
    top: 30%;
    z-index: 1;
    font-size: large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: aliceblue;
    text-shadow: 1px 1px 3px black;
}

.welcometext1:hover {
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.welcometext2 {
    position: absolute;
    left: 50;
    top: 35%;
    z-index: 1;
    font-size: x-large;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color: rgb(95, 95, 95);
    text-shadow: 1px 1px 3px black;
}

.welcometext2:hover {
    color: rgb(167, 167, 167);
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
}

.wowlogo {
    width: 40%;
}

/* Lateral derecho */

.box3 {
    height: 75vh;
}

.box3-1 {
    height: 25vh;
}

.box3-2 {
    height: 25vh;
}

.box3-3 {
    height: 25vh;
}

/* Parte inferior */

.box7 {
    height: 25vh;
}

.box8 {
    height: 25vh;
}

.classes {
    height: 25vh;
}

/* General */

.latbox {
    display: none;
}

.photos {
    height: 25vh;
    width: 15vw;
    box-shadow: 20px 20px 40px black, -20px -20px 40px black;
    border: 3px groove black;
}

.photos:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 40px white, -10px -10px 40px white;
}