.box {
    background-image: url(../img/im7hp6b7e4t31.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.titlebig {
    height: 50vh;
}
.title {
    color: white;
    text-shadow: 4px 4px 10px black, -4px -4px 10px black;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s-titlebig {
    color: black;
    text-shadow: 2px 2px 5px white, -2px -2px 5px white;
    height: 25vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.s-title {
    font-size: xx-large;
}

.cardbg {
    background-image: url(../img/4c8xmGs.jpg);
    background-size: cover;
    border: 2px solid black;
}

.rowdishppal {
    margin-bottom: 5vh;
}

/* Dropdown */

.dp-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
}
    
.dp-btn:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

.menuicon {
    height: 100px;
}

/* :Hover */

.cardbg:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 20px white, -5px -5px 20px white;
}