.box {
    background-image: url(../img/homepage_tavern_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.title {
    color: white;
    font-size: xxx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 3px 3px 10px grey, -3px -3px 10px grey;
    height: 10vh;
}

.reserv-box {
    background-color: rgba(128, 128, 128, 0.473);
    /* height: 75vh; */
    border-radius: 10px;
    color: white;
    padding: 5px;
}

/* Dropdown */

.dp-btn {
    background-color: rgba(255, 255, 255, 0) !important;
    border: 0px solid rgba(255, 255, 255, 0) !important;
}
    
.dp-btn:hover {
    background-color: rgba(255, 255, 255, 0.308) !important;
    box-shadow: 1px 1px 10px white, -1px -1px 10px white;
}

.menuicon {
    height: 10vh;
}